@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{

padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family:"Quicksand",sans-serif ;

}

ul{
    list-style: none; /* الصفحات link  انه يشيل النقاط الي موجودين جمب  */
}

a{
    text-decoration: none ;/* الصفحات link  انه يشيل الاسطر الي موجودين تحت*/
    }


.container{

    max-width: 1100px;
    margin:auto ;/*انه يخلي المحتوى في المنتصف */

}





/*Utility classes  */

.primary-text{
    color:orange ;
}


.btn{
    display: inline-block;
padding:15px ;
border: none ;
border-radius: 15px ;

}
.btn-primary{
    color: white;
border: 1px solid whitesmoke; /* يصير حولينها خط ع شكل مربع  Book a Table انه يصير ع */

}


.btn-secondary{
color:white;/*لون الكلام داخل الكبسة */
background: #383848;/*لون الكبسة */
margin: 3rem; /*البعد بين الكبسة و الكلام الذي فوقه*/

}

.btn-primary:hover,
.btn-secondary:hover
{
    background-color: orange;/* يصير لونها  برتقالي  Book a Table انه لما تحط  سهم ع */
}



/* Header start */
header{
    height: 100vh;
    background: url("c:\\Users\\ibrahim\\Pictures\\pngtree-barbell-and-jar-with-protein-image_15737477.jpg") center center/cover no-repeat;

    position: relative;

}

#navbar {
    display:flex ; /* جمب شعار list انه يخلي */
justify-content: space-between;/*   اقصى اليمين فوقlist  انه يخلي */

align-items: center;/* في المنتصف  link list  انه يخلي ال  */
}

#navbar img{
width: 80px;
margin-left: 100px;
}
#navbar ul{
display:flex ; /* جمب بعض link list  انه يخلي */
margin-right: 100px;
}
#navbar ul li a {

    padding: 15px 20px; /* منفصل عن الاخر  link list  انه كل  */
color: white;/* ابيض  link list  انه لون الخط ل */
font-weight: 600 ;/* link list  انه سمك الخط ل */
}

#navbar ul li a:hover{
border-bottom: 2px solid orange ;

}

header .content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;


}

header .content h1 {
font-size: 40px;
color: white;


}
header .content p{
    margin: 20px 0 40px ;
    color: white;
}
header::before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
background: rgb(0,0,0,0.6);/*انه اضاءة الصورة بتخف */

}

header *{
    z-index: 10;
}

/* Header End */



/* About start  */
    #about{
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
background:rgb(82, 77, 77);

    }

 #about.title,
 #Offers.title,
 #menu.title
 {
text-align: center;
margin-bottom: 4rem;

    }


#gallery h2{
    font-size: 40px;
    margin-bottom: 20px;

}

#about h2 
{

font-size: 55px;
margin-bottom: 44px;
 color: orange;
}

#Offers h2 
{

font-size: 55px;
margin-bottom: 44px;
 color: orange;
}

#menu h2 
{

font-size: 55px;
margin-bottom: 44px;
 color: orange;
}

#about .title p ,
#menu .title p
{
    font-size: 14px;
    color:red; 
    font-weight: 600;

}
#about .about-content {
    display: flex;
    justify-content: space-between

}

#about .about-content img {


   width: 275px; /*حجم الصورة البروتين الكبيرة */

}

#about .about-content p {
    color: rgb(186, 122, 20);
    margin-right: 8rem;
    font-weight:500 ;
    line-height: 1.6;/*مسافة بين كل سطر */



}

/* About End  */



/* Offers Strt */

#Offers{
    height: 155vh;/* Offers ارتفاع ال */
    display:flex ;
    justify-content: center;
    background: url(../../../Pictures/7d727424066bac37ea7b88446a9fee6f.jpg) center center/cover fixed ;

}



#Offers .title p {
color:red;
font-size: 900;
font-weight: 600;
}

#Offers .offers-items {

justify-content:center ;
align-items: center;
text-align: center;
color: rgb(199, 94, 14);
}

#Offers .offers-items img {
    width: 170px;
}


#Offers .offers-items h3 {
    font-size: 25;
    margin:6px 0 ;
}


#Offers .offers-items p {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}


#Offers .offers-items span {

    font-size: 19px;
    font-weight: 600;
    margin-left: 3px;


}

/* Offers End */



/* Menu Start */

#menu{
    background: url(../../../Pictures/images.jpeg) center center/cover fixed ; 
       padding: 5rem 0;

}

#menu .menu-items {
display:flex ;
justify-content:center ;
align-items: center;

}

#menu .menu-items .menu-items {
display: flex;
justify-content: center;
align-items: center;
margin: 40px;
}


#menu .menu-items.menu-items img {
    width:120px;
    border-radius:23%;
    margin-right: 22px;
}


#menu .menu-items .menu-items h3 {

    color: rgb(111, 80, 46);
    border-bottom: 1px dashed white;
    padding-bottom: 10px ;
    margin-bottom: 10px;
    position: relative;

}

#menu .menu-items .menu-items span{
    position: absolute;
    top: 1;
    right: 1;

}

#menu .btn {
    display: block;
    margin: 50px auto 0;
    background:#383848;
    color: white;
    cursor: pointer;

}


#menu .btn:hover {
    background:orange ;
}

/* Menu End */


/* Daytime Start */

#Daytime{
    background:url(../../../Pictures/ooakljsd.jpg) center center/cover no-repeat;
    color:rgb(255, 106, 0);
    text-align: center;
}

#daytime .daytime-itemS {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

}

#Daytime .daytime-items h3{
    font-size: 32px;
    margin: 20px 0 10px;

}

#Daytime .daytime-items P {
font-weight: 990;

}

/* Daytime End */




/*Gallery Start */

#gallery {
    background: url(../../../Pictures/download.png) center center/cover no-repeat;
    padding: 8rem 0 6rem ;

}

#gallery h2 {
    color:rgb(255, 216, 142);
    text-align: center;
   



}

#gallery .img-gallery {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap ;
}



#gallery .img-gallery img {

    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.6; /* تخفيض اضاءة الصور  */
}

#gallery .img-gallery img:hover {
    opacity: 1; /*هون انه عندما اضع الماوس ع الصورة يصير لونها الاضاءة اوضح للأصل */


}


/*Gallery End */


/*Contact Start*/

#contact {
    padding: 5rem 0;
    background:whitesmoke;

}

#contact .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


#contact .contact-content .contact-info {
    width: 50%;
}


#contact .contact-content .contact-info div {
    margin:30px 0; /*بين العنوان و الوقت و مواقع التواصل  div انه ابعد مسافة بين كل */
    line-height: 1.7;
}


#contact .contact-content .contact-info h3{
    font-size: 28.4px;
    color: rgb(18,19,66);
    margin: 10px;

}

#contact .contact-content .contact-info p {
    font-size: 20px;
    color: black;
}


#contact .contact-content .contact-info i {
    color: rgb(18, 19, 66);
    margin-right:8px;
}

#contact .contact-content .contact-info a i {
    color: white;
    background-color: rgb(18,19,66);
    padding: 13px;
    border-radius: 50%;
    font-size: 20px;

}

#contact .contact-content .contact-info a i:hover {
    background:rgb(255, 128, 0);
    color: rgb(18, 19, 66);

}

form{
    width: 50%;
}

form input,
textarea{
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: wheat;


}

#contact .btn {
    background: rgb(18,19,66);
    color: white;
    cursor: pointer;
}

#contact .btn:hover {
    background: orange;

}





/*Contact End*/
